


.sidenav {
    width: 900px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 620px;
    left: -160px;
    background: #efefef;
    overflow-x: hidden;
    padding: 8px 0;
}


.sidenav3 {
    width: 1700px;
    height: 272px;
    position: absolute;
    z-index: 1;
    top: 1000px;
    left: -460px;
    background: #fcefe0;
    overflow-x: hidden;
    padding: 8px 0;
}

.column {
    float: left;
    width: 23.33%;
    padding: 15px;
}

.footer {
   z-index:1000;
   position: fixed;
   left: 0;
   height: 84;
   bottom: 0;
   width: 100%;
   opacity: 100;
   background-color: #4889f2;
   color: #262626;
   text-align: center;
}

ul.relative {
position: relative;
top: 5px;
left: 5px;
