
.sidenav {
    width: 900px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 620px;
    left: -160px;
    background: #fceede;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav2 {
    width: 1700px;
    height: 200px;
    position: absolute;
    z-index: 1;
    top: 1000px;
    left: -460px;
    background:#ef6047;
    overflow-x: hidden;
    padding: 8px 0;
}

.sidenav3 {
    width: 1700px;
    height: 300px;
    position: absolute;
    z-index: 1;
    top: 1200px;
    left: -460px;
    background: #fcefe0;
    overflow-x: hidden;
    padding: 8px 0;
}

ul.relative {
position: relative;
top: 5px;
left: 5px;

.fa {
padding: 20px;
font-size: 30px;
width: 150px;
text-align: center;
text-decoration: none;
margin: 5px 2px;
}

.fa-instagram {
background: #125688;
color: black;
}
