h1 {
  color:;
  background-color:#fceede;
}

h3 {
  color:#f9f9f9

}
body {
  background-color:  color:#f9f9f9
}


.sidenav {
    width: 250px;
    position: absolute;
    z-index: 1;
    top: 105px;
    left: -12px;
    background: #fceede;
    overflow-x: hidden;
    padding: 330px 0;
}

.sidenav2 {
    width: 250px;
    position: absolute;
    z-index: 1;
    top: 105px;
    right:-10px;
    background: #fceede;
    overflow-x: hidden;
    padding: 330px 0;
}

.sidenav3 {
    width: 1700px;
    height: 300px;
    position: absolute;
    z-index: 1;
    top: 765px;
    left: -160px;
    background: #fcefe0;
    overflow-x: hidden;
    padding: 8px 0;
}
